*__pycache__
*.auto.tfvars*
*.tfvars*
*/terraform.tfstate
*.terraform*
*.tfstate
*/http*
*.auto.pkrvars*
*.pkrvars.hcl
*.pkrvars
*secrets*
*vault.yml
vault.yaml
*results*
*.crt
*.key
*inventory.yml
*ansible.cfg
# 01_MAIN*
01_MAIN/rulebooks/misc/rulebook.log
01_MAIN/rulebooks/misc/certgenerator/*
ansible/dns-certs-to-host
01_MAIN/scripts/*
01_MAIN/packer/proxmox/ubuntu-server/http/user-data
